<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    <strong>SachDienTu Admin</strong> created by Cuong Nguyen
  </div>
  <!-- Default to the left -->
  <p><strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.</p>
</footer>