<figcaption class="sectiontitle">
  <h6 class="heading">Category Name</h6>
  <p>Description</p>
</figcaption>
<ul class="nospace group overview">
  <li class="one_third">
    <a href="#"><img src="https://via.placeholder.com/320x240.png" alt=""></a>
  </li>

  <li class="one_third">
    <a href="#"><img src="https://via.placeholder.com/320x240.png" alt=""></a>
  </li>

  <li class="one_third">
    <a href="#"><img src="https://via.placeholder.com/320x240.png" alt=""></a>
  </li>

  <li class="one_third">
    <a href="#"><img src="https://via.placeholder.com/320x240.png" alt=""></a>
  </li>

  <li class="one_third">
    <a href="#"><img src="https://via.placeholder.com/320x240.png" alt=""></a>
  </li>

  <li class="one_third">
    <a href="#"><img src="https://via.placeholder.com/320x240.png" alt=""></a>
  </li>

</ul>